{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.status) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.userInfo.fn) }}
        {{ form_row(form.userInfo.mn) }}
        {{ form_row(form.userInfo.ln) }}
        {{ form_row(form.userInfo.office) }}
        {{ form_row(form.userInfo.division) }}
        {{ form_row(form.userInfo.position) }}
        {{ form_row(form.userInfo.phone) }}
        {{ form_row(form.userInfo.address) }}


        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
    
    <a href="{{ path('app_user_index') }}">Back to list</a>
{% endblock %}

{# templates/user/edit.html.twig #}

{# {% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}

        <h2>User Information</h2>
        {{ form_row(form.userInfo.fn) }}
        {{ form_row(form.userInfo.mn) }}
        {{ form_row(form.userInfo.ln) }}
        {{ form_row(form.userInfo.office) }}
        {{ form_row(form.userInfo.division) }}
        {{ form_row(form.userInfo.position) }}
        {{ form_row(form.userInfo.status) }}
        {{ form_row(form.userInfo.phone) }}
        {{ form_row(form.userInfo.address) }}
        {{ form_row(form.userInfo.createdAt) }}

        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">Back to list</a>
{% endblock %} #}